@font-face {
  font-family: 'JannatLT';
  src: url('fonts/jannaltregular.woff2') format('woff2'),
       url('fonts/jannaltregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JannatLT';
  src: url('fonts/jannaltbold.woff2') format('woff2'),
       url('fonts/jannaltbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'JannatLT', sans-serif !important;
}
